# Project 2, Part 4, Validate data in the staging tables using SQL

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

Student: Sophie Yeh

Year: 2022

Semester: Spring

Section: 8

# Included Modules and Packages

Code cell containing your includes for modules and packages

In [2]:
import csv
import numpy as np
import pandas as pd
import psycopg2
import math
import json
import pprint
from datetime import datetime as dt

# Supporting code

Code cells containing any supporting code, such as connecting to the database, any functions, etc.  

Remember you can freely use any code from the labs. You do not need to cite code from the labs.

In [3]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#
def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)


#connect to postgres database
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)
# create cursor for connections
cursor = connection.cursor()

# 2.4.1 Validate the data types in the staging table stage_1_peak_sales

Generally, we do not expect any issues with data types.  Write a simple query that validates the numeric and date columns.

* sale_id - validate that is is numeric
* sale_date - validate that it is a date
* sub_total - validate that it is numeric
* tax - validate that it is numeric
* total_amount - validate that it is numeric

Hint: make use of the operators: 
* xxxx::numeric
* xxxx::date

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [4]:
query = """

select stage_id, sale_id::numeric, sale_date::date, sub_total::numeric, tax::numeric, total_amount::numeric
from stage_1_peak_sales
order by stage_id;

"""
my_select_query_pandas(query, True, True).style.set_caption("Validate data types in stage_1_peak_sales")

# 2.4.2 Validate the data types in the staging table stage_1_peak_stores

Generally, we do not expect any issues with data types.  Write a simple query that validates the numeric and date columns.

* sale_id - validate that it is numeric
* location_id - validate that it is numeric

Hint: make use of the operator xxxx::numeric

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [5]:
query = """

select stage_id, sale_id::numeric, location_id::numeric
from stage_1_peak_stores
order by stage_id
"""
my_select_query_pandas(query, True, True).style.set_caption("Validate data types in stage_1_peak_stores")

# 2.4.3 Validate the data types in the staging table stage_1_peak_customers

Generally, we do not expect any issues with data types.  Write a simple query that validates the numeric and date columns.

* sale_id - validate that it is numeric
* customer_id - validate that it is numeric

Hint: make use of the operator xxxx::numeric

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [6]:
query = """

select stage_id, sale_id::numeric, customer_id::numeric
from stage_1_peak_customers
order by stage_id
"""
my_select_query_pandas(query, True, True).style.set_caption("Validate data types in stage_1_peak_customers")

# 2.4.4 Validate the data types in the staging table stage_1_peak_line_items

Generally, we do not expect any issues with data types.  Write a simple query that validates the numeric and date columns.

* sale_id - validate that it is numeric
* line_item_id - validate that it is numeric
* product_id - validate that it is numeric
* price - validate that it is numeric
* quantity - validate that it is numeric

Hint: make use of the operator xxxx::numeric

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [7]:
query = """

select stage_id, sale_id::numeric, line_item_id::numeric, product_id::numeric, price::numeric, quantity::numeric
from stage_1_peak_line_items
order by stage_id
"""
my_select_query_pandas(query, True, True).style.set_caption("Validate data types in stage_1_peak_line_items")

# 2.4.5 Validate the math on sub_total, tax, and total_amount in stage_1_peak_sales

Generally, we do not expect any issues with the math.  Write a simple query that validates the math:

total_amount = sub_total + tax

It's usually best to write a query that will return rows with errors.  In our case, the query should return nothing.

Remember that with staging tables, we need to convert varchar to numeric using column::numeric before math will work.

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [47]:
query = """

select total_amount::numeric, sub_total::numeric, tax::numeric
from stage_1_peak_sales
where total_amount::numeric != sub_total::numeric + tax::numeric
order by stage_id

"""
my_select_query_pandas(query, True, True).style.set_caption("Invalid total_amounts")

# 2.4.6 Validate the math between stage_1_sales and stage_1_line_items

Generally, we do not expect any issues with the math.  Write a simple query that validates the math:

total_sales in stage_1_sales matches the sum of (price x quantity) in stage_1_line_items

It's usually best to write a query that will return rows with errors.  In our case, the query should return nothing.

Remember that with staging tables, we need to convert varchar to numeric using column::numeric before math will work.

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [45]:
query = """

select s.stage_id, s.sale_id, s.sub_total::numeric, sum(l.price::numeric * l.quantity::numeric) as line_item_sum
from stage_1_peak_sales as s 
    join stage_1_peak_line_items as l
    on s.sale_id = l.sale_id
group by s.stage_id, s.sale_id, s.sub_total
having (s.sub_total::numeric = sum(l.price::numeric * l.quantity::numeric)) = False
order by stage_id

"""
my_select_query_pandas(query, True, True).style.set_caption("Invalid sub_totals")

# 2.4.7 Validate the tax is always zero in stage_1_peak_sales

It's usually best to write a query that will return rows with errors.  In our case, the query should return nothing.

Remember that with staging tables, we need to convert varchar to numeric using column::numeric before math will work.

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [44]:
query = """

select stage_id, tax::numeric
from stage_1_peak_sales 
where tax::numeric != 0
order by stage_id

"""
my_select_query_pandas(query, True, True).style.set_caption("Invalid tax")

# 2.4.8 Validate the price is always 12 in stage_1_peak_line_items

It's usually best to write a query that will return rows with errors.  In our case, the query should return nothing.

Remember that with staging tables, we need to convert varchar to numeric using column::numeric before math will work.

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [48]:
query = """

select stage_id, price
from stage_1_peak_line_items 
where price::numeric != 12
order by stage_id

"""
my_select_query_pandas(query, True, True).style.set_caption("Invalid price")

# 2.4.9 Validate taxable is always N in stage_1_peak_line_items

It's usually best to write a query that will return rows with errors.  In our case, the query should return nothing.

Remember that with staging tables, we need to convert varchar to numeric using column::numeric before math will work.

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [52]:
query = """

select stage_id, taxable
from stage_1_peak_line_items 
where taxable != 'N'
order by stage_id

"""
my_select_query_pandas(query, True, True).style.set_caption("Invalid taxable")

# 2.4.10 Validate the store is the same for all in stage_1_peak_stores

It's usually best to write a query that will return rows with errors.  In our case, the query should return nothing.

Remember that with staging tables, we need to convert varchar to numeric using column::numeric before math will work.

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [59]:
query = """

select stage_id, location_id
from stage_1_peak_stores
where location_id::numeric != 12573
order by stage_id

"""
my_select_query_pandas(query, True, True).style.set_caption("Invalid store")

# 2.4.11 Validate the product id in stage_1_peak_line_items against peak_product_mapping

It's usually best to write a query that will return rows with errors.  In our case, the query should return nothing.

Remember that with staging tables, we need to convert varchar to numeric using column::numeric before math will work.

Sort by stage_id

Pattern your code after the examples in the labs.  You may use as many code cells as you need.

In [65]:
query = """

select stage_id, p.peak_product_id, l.product_id
from stage_1_peak_line_items as l
    join peak_product_mapping as p
    on p.peak_product_id = l.product_id::numeric
where p.peak_product_id != l.product_id::numeric
order by stage_id

"""
my_select_query_pandas(query, True, True).style.set_caption("Invalid product_id")